<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #f0f0f0;
        color: #333;
      }
      header {
        background: #007bff;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      section {
        margin-top: 20px;
      }
      button {
        display: block;
        width: calc(100% - 40px); /* Adjust width to fit container padding */
        margin: 20px auto; /* Center button */
        padding: 10px 0;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>ERROR</h1>
    </header>
    <section>
      <p>404 TOKEN NOT FOUND</p>
    </section>
  </body>
</html>
